.skills {
    position: relative;
    z-index: 2;
    border-top: 20vh solid;
    background-image: url(./images/airJump.jpg);
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    border-bottom: 20vh solid;
    height: 110vh;
}

.skew {
    transform: skew(0deg, 5deg);
    background: transparent;
    border-top: 30vh solid;
    border-bottom: 30vh solid black;
    position: absolute;
    top: -10vh;
    bottom: -10vh;
}

.icons {
    display: flex;
    z-index: 5;
    background: black;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

.iconDiv {
    position: relative;
    // border: 2px dotted blue;
}

.iconDiv label {
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    // background: white;
    // background: #2f5e9c;
    background: orange;
    // color: white;
    color: black;
    font-weight: 900;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
}

.iconDiv:hover label {
    animation: label 1s;
}

@keyframes label {
    0% {
        transform: translateY(-25px);
        opacity: .2;
    }

    60% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.icon {
    width: 100px;
    padding: 5px;
    margin: 5px 10px;
    filter: invert(0.5);
}

.icon:hover {
    filter: invert(0);
}

.banner {
    margin: 0;
    color: white;
    font-size: 5rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: transparent;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}
