// .row, .row * {
//     border: 2px dotted red;
// }

body {
    background: slategray;

}

.about i {
    color: rgba(39, 39, 40, 0.408);
    position: fixed;
    z-index: 5;
}

.fa-id-badge {
    top: 50px;
}

.fa-copy {
    top: 150px
}

.fa-mobile-screen-button {
    top: 250px
}

.about {
    padding: 50px;
    position: relative;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0   auto;
}

.about h1 {
    text-align: center;
    font-family: Fatface;
    font-size: 60px;
    color: black;
    -webkit-text-stroke: .3px lightgray;
    text-shadow: 3px 3px 2px;
    padding: 5px;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

.row h1 {
    font-size: 40px;
}

.imgContainer {
    width: 600px;
    position: relative;
    height: 700px;
}

.imgContainer h1 {
    position: absolute;
    right: 10px;
    top: 0;
}

.paragraph {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 35px 35px 35px;
    border-radius: 0 25%;
    color: white;
    background: linear-gradient(172deg, gray 80%, black 80%, black 81%, teal 85%, teal 86%, black 86%, black 90%, gray 90%);
    font-size: 1.65rem;
    box-shadow: 5px 5px 20px black;
    margin: 5%;
    padding: 1% 2%;
    width: 1000px;
}

.paragraph h2 {
    text-align: center;
    font-style: italic;
}

.me {
    // height: 700px;
    height: 750px;
    position: fixed;
    z-index: 1;
}

.topDiv {
    position: absolute;
    bottom: 25px;
    height: 50px;
    width: 550px;
    background-color: black;
    z-index: 0;
    margin: 0 auto;
    border-radius: 50%;
    border-top: none;
    border: 2px solid red;
}

.bottomDiv {
    position: absolute;
    bottom: 0;
    // left: 10px;
    height: 50px;
    width: 550px;
    margin: 0 auto;
    border-radius: 0 0 50% 50%;
    border: 2px solid red;
    border-top: none;
    background-color: black;
    z-index: 2;
}

.extend {
    background: slategray;
    height: 800px;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -750px;
}













