.contact {
    position: relative;
    z-index: 3;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(62, 109, 201);
    // background-image: url(../about/images/airJump.jpg);
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    background-size: 100% 100vh;
}

i {
    position: relative;
    color: rgb(194, 197, 202);
    margin: 5px;
}

.contact .header {
    background-image: url(../about/images/platoon.jpg);
    background-position-x: center;
}

.contactTop {
    height: 600px;
    width: 100%;
    transform: skew(0deg, 5deg);
    position: relative;
    bottom: 350px;
    border-bottom: 100px solid #1a1919;
    background: #3e6dc9;
}

.contactBottom {
    height: 550px;
    width: 100%;
    border-top: 4px solid black;
    position: absolute;
    bottom: -350px;
    transform: skew(0deg, 5deg);
    background: #3e6dc9;
}

.contactIcon {
    background: #3e6dc9;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 5vh;
}

.contactIcon img {
    width: 100px;
    margin: 20px;
    border-radius: 25%;
}

.image {
    height: 50vh;
    width: 50%;
    background: black;
    position: absolute;
    z-index: 0;
    bottom: 25vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 8px;
    background-image: url(../about/images/refuelingShip.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}
    

.meBottomDiv {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

.meBottom {
    height: 100vh;
    position: relative;
    bottom: -60vh;
    filter: brightness(1.5) drop-shadow(3px 3px 2px black);
}

@media screen and (max-width: 1500px){
    .contactTop {
        height: 250px;
        top: -100px;
    }

    .contactBottom {
        height: 350px;
        bottom: -150px;
    }
}

// @media screen and (max-width:1000px) {
//     .contact {
//         height: 160vh;
//     }
// }

@media screen and (max-width:768px) {

    .contact {
        position: relative;
        z-index: 3;
        overflow: hidden;
        height: 145vh;
        background-image: url(../about/images/airJump.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 200% 100vh;
        background-position: 50% 170%;
    }

    .contact a {
        width: auto;
    }

    .contactIcon {
        height: 15vh;
        flex-direction: column;
        align-items: center;
    }
    
    .contactBottom {
        height: 175px;
        bottom: -140px;
    }

    .contact .header {
        height: 400px;
        background-image: url(../about/images/backgroundimagework.png);
    }
}

@media screen and (max-width:950px) and (max-height:450px) and (orientation: landscape) {
    .contact {
        height: 215vh;
    }
}

// @media screen and (max-width: 1350px) {
//     .contact .header {
//         height: 400px;
//     }
//     .contactBottom {
//         bottom: -350px;
//     }


//     .footerImg {
//         height: 75vh;
//     }

// }