.contact{
    position: relative;
    z-index: 3;
    // height: 200vh;
}

i {
    position: relative;
    color: rgb(194, 197, 202);
    margin: 5px;
}

.contact .header {
    height: 1200px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(./images/backgroundimagework.png);
}



.contactTop {
    height: 750px;
    width: 100%;
    transform: skew(0deg, 5deg);
    position: relative;
    bottom: 350px;
    border-bottom: 100px solid #1a1919;
    background: orange;
}

.contact .header h1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    transform: skew(0deg, 5deg);
    position: relative;
    bottom: 350px;
}

.contactBottom {
    height: 800px;
    width: 100%;
    border-top: 4px solid black;
    position: absolute;
    bottom: -350px;
    transform: skew(0deg, 5deg);
    background: #575757;
}

.contactIcon {
    background: #575757;
    display: flex;
    justify-content: space-around;
    padding: 500px auto;
    height: 80vh;
}

.contactIcon img {
    width: 100px;
    margin: 20px;
    border-radius: 25%;
}